* {
  margin: 0;
  border: 0;
  background: #f2f2f2;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* BIRTHDAYS APP */

.main {
  width: 25em;
  height: 35em;
  background: salmon;
  border-radius: 7px;
  margin-top: 7em;
  box-shadow: 0px 1px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__label{
  background: transparent;
  margin-top: 0.5em;
}

.birtdays_ul {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 70%;
}

.birthdays_li{
  align-items: center;
  display: flex;
  margin-top: 2em;
  gap: 2em;
}

.delete__btn{
  padding: 1em 2em;
  border: 1px solid red;
  background: none;
  color: #f2f2f2;
  border-radius: 10px ;
}

.delete__btn:hover{
  padding: 1em 2em;
  border: #f2f2f2;
  background: red;
  color: #f2f2f2;
  border-radius: 10px ;
}


.delete__btn {
  align-self: center;
  justify-self: flex-end;
}


/* OUR TOUR APP */


.tour__app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__div {
  display: flex;
  flex-direction: column;
}

.brrrrr{
  border: 2px solid salmon;
  width: 50px;
}

.tour__card {
  display: flex;
  flex-direction: column;
  align-items: center;


  background: #dfdfdf;
  margin-bottom: 50px;
  border-radius: 15px ;
  box-shadow: 0px 1px 3px;
}

.tour__caption{
  background: none;
}

.tour__image{
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 20rem;
}

.tour__price{
  background: #87e3ff;
}

.wrapper__tp{
  display: flex;
  justify-content: space-between;
}

.tour__title{
  background: none;
}
